.panel .panel-heading {
    padding: 30px 0 0;
}

.panel .panel-title {
    font-size: 28px;
    color: #666;
    font-weight: 400;
}

.panel .panel-body {
    padding: 15px;
}


#loginBtn{
    width: 100%;
    padding: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.login-register-container {
    padding: 20px;
}

.text-danger {
    color: #dc3545;
}