.ant-list-item {
  padding: 16px 24px;
}

.product-list {
  margin: 24px;
  padding: 24px;
}

.list-col {
  margin-left: 16px;
  margin-right: 16px;
  width: 120px;
}

.search-bar .search-bar-widget {
  margin-left: 16px;
}

p.in-stock {
  color: green;
}
p.out-of-stock {
  color: red;
}


p.discontinued{
  color: gray;
}

p.not-available {
  color: black;
}

div.add-update-form {
  /* text-align: center; */
  display: inline-block;
  width: 40%;

}

/* form {
    display: inline-block;
} */

.product-row {
  margin-top: 8px;
}

.submit-row {
  margin-top: 16px;
}

.ant-btn {
  margin-right: 8px;
}