.header {
  height: 80px;
  background-color: #fff;
}

.global-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 16px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

.avatar {
  margin: 0px 8px 0px 0;
}

.header-right {
  display: flex;
  float: right;
  height: 48px;
  margin-left: auto;
  align-items: center; 
  padding: 0 12px;
  cursor: pointer;
}

.header-right:hover {
  background: rgba(0,0,0,.025);
}

.header-top {
  text-align: right;
  padding-right: 30px;
  height: 40px;
  line-height: 40px;
}

.header-bottom {

}