@import '~antd/dist/antd.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

#root {
  height: 100%;
}

.panel {
  margin-bottom: 20px;
    background-color: #fff;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 15px rgba(0,0,0,.1);
    box-shadow: 0 2px 15px rgba(0,0,0,.1);
}

a {
  cursor: pointer;
}

input.error {
  border: solid 1px red;
}